<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>DALLAS</title>
  </head>
  <body>
    <a id="skip-to-content" href="#main" tabindex="1">Skip to Content</a>
    <nav>
      <div id="title-navbar">
        <p>DALLAS</p>
      </div>
      <ul id="main-ul">
        <li><a href="/" tabindex="1">Home</a></li>
        <li><a href="#" tabindex="2">Favourite</a></li>
        <li>
          <a href="https://raisyam.netlify.app" target="_blank" tabindex="3"
            >About Us</a
          >
        </li>
      </ul>
    </nav>
    <img
      id="hero-image"
      src="./images/heros/hero-image_1.jpg"
      alt="people cooking"
    />

    <main id="main">
      <h1 id="head-title-restaurant">Explore The World of Food</h1>
      <section id="card-container"></section>
    </main>

    <footer>Copyright © 2022 - DALLAS</footer>
  </body>
</html>
