<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <nav>
      <h3>DALLAS</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Favourite</a></li>
        <li>
          <a href="https://raisyam.netlify.app" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
    <img
      id="hero-image"
      src="./images/heros/hero-image_1.jpg"
      alt="people cooking"
    />

    <footer>Copyright © 2022 - DALLAS</footer>
  </body>
</html>
