<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <nav>
      <h3>DALLAS</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Favourite</a></li>
        <li>
          <a href="https://raisyam.netlify.app" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
    <img
      id="hero-image"
      src="./images/heros/hero-image_1.jpg"
      alt="people cooking"
    />

    <div class="card">
      <img
        src="https://restaurant-api.dicoding.dev/images/medium/41"
        alt="restaurant photo"
      />
      <div class="card-title"><p>Bring Your Phone Cafe, Medan</p></div>
      <div class="card-content-container">
        <div class="rating">
          <h1>4.6</h1>
          <div><p>Rating</p></div>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo...
        </p>
      </div>
    </div>

    <footer>Copyright © 2022 - DALLAS</footer>
  </body>
</html>
