@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$blue: #00abb3;
$black: #3c4048;
$dark-grey: #b2b2b2;
$grey: #eaeaea;

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#skip-to-content {
  position: absolute;
  background: $blue;
  top: 0;
  left: 0;
  padding: 10px;
  text-decoration: none;
  color: $black;
  font-weight: 700;
  line-height: 44px;
  opacity: 0;
  z-index: -1;

  &:focus {
    opacity: 1;
    z-index: 91;
  }
}

a,
button {
  min-width: 44px !important;
  min-height: 44px !important;
  display: inline-block;
}

img {
  display: block;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background: $dark-grey;
  padding: 10px 0px 10px 10px;
  z-index: 90;

  #hamburger-menu__container {
    @media (min-width: 576px) {
      display: none;
    }
    
    #hamburger-menu__button {
      border: 0;
      background: transparent;
    }
  }

  nav {
    position: absolute;
    top: 72px;
    left: -100vw;
    width: 100vw;
    background: $dark-grey;
    transition: 0.5s ease-out;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      width: 100%;

      li {
        margin: 0 10px;

        a {
          line-height: 44px;
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}

.open-drawer {
  top: 72px;
  left: 0;
}

.content {
  width: 90%;
  margin: auto;
}

// DETAIL

.content__detail {
  display: grid;
  row-gap: 20px;
}

#restaurant-photo__detail {
  width: 100%;
  border-radius: 20px;
}

.detail-contents {
  background-color: $dark-grey;
  padding: 10px;
  border-radius: 20px;
}

.restaurant__info {
  display: grid;
  row-gap: 20px;
}

.restaurant__menus {
  display: grid;
  row-gap: 20px;
}

.restaurant__reviews {
  display: grid;
  row-gap: 10px;
}

.review {
  background: $grey;
  border-radius: 20px;
  padding: 10px;
}

// 

#hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#head-title-restaurant {
  margin: 20px auto;
  text-align: center;
}

#card-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  row-gap: 10px;
  margin: 30px auto;
  justify-content: center;
  max-width: 1600px;
  width: 90%;

  @media (min-width: 890px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
  }

  @media (min-width: 1668px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  width: 250px;
  height: 500px;
  background: red;
  border-radius: 20px;
  background: $dark-grey;
  margin: auto;

  &:focus {
    border: 3px solid $black;
  }

  @media (min-width: 400px) {
    width: 350px;
  }

  .card-title {
    width: 100%;
    box-sizing: border-box;
    background: $blue;
    padding: 5px 10px;
    text-align: center;
  }

  img {
    border-radius: 20px 20px 0 0;
    width: 100%;
  }

  .card-content-container {
    margin: 0 15px;

    @media (min-width: 400px) {
      margin: 0 25px;
    }
  }

  .rating {
    margin: 10px 0;
    text-align: center;

    h1 {
      font-size: 3rem;
    }
  }

  .description {
    margin: 15px 0;
  }
}

.error {
  text-align: center;
}

.favorites__button {
  background: $grey;
  border: 1px solid $dark-grey;
  border-radius: 20px;
  width: 100%;
}

footer {
  text-align: center;
  padding: 10px;
  background: $grey;
  margin-top: 15px;
}
